@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav flex-row">
	@if (SignInManager.IsSignedIn(User))
	{
@* 		@if (User.IsInRole(Roles.Role_Manager) ||
				User.IsInRole(Roles.Role_Admin) ||
				User.IsInRole(Roles.Role_SubAdmin))
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Orders" asp-action="Index">
					<i class="bi bi-list-ul"></i>
					Orders
				</a>
			</li>
		} *@

		<li class="nav-item me-3" style="align-self: center;">
			@if (UserManager.GetUserAsync(User).Result.ProfilePic != null)
			{
				<img class="avatar rounded-circle" style="height: 55px; width: 55px;" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePic))">
			}
		</li>
@* 		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
		</li> *@
		<li class="nav-item">
			<form class="form-inline mt-1" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark fw-semibold">Logout</button>
			</form>
		</li>
	}
	else
	{
@* 
		<li class="nav-item">
			// <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a> 
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterSpecial">Register</a>
		</li>
		<li class="nav-item">
			// <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a> 
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/LoginSpecial">Login</a>
		</li>
 *@

		<li class="nav-item">
			<a class="nav-link text-dark me-3" asp-area="Identity" asp-page="/Account/LoginSpecial">Sign In</a>
		</li>
	}
</ul>
